<%- include('partials/header') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center">Results</h3>
          <h5>Structured Output:</h5>
          <pre><%= structuredOutput %></pre>
          <h5>Generated System Scope:</h5>
          <pre><%= systemScope %></pre>
          <h5>Image Relationships:</h5>
          <pre><%= imageRelationships %></pre>
          <h5>Similarity Score:</h5>
          <p><%= similarity %></p>
          <a href="/" class="btn btn-primary">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
